state-machines/Task/serverless.yml
service: my-stepfunctions-task
frameworkVersion: '2 || 3'
plugins:
  - serverless-step-functions
provider:
  name: aws
  runtime: nodejs16.x
  profile: rafae
  lambdaHashingVersion: 20201221
  region: us-east-1
  stage: dev
  iamRoleStatements:
    - Effect: Allow
      Action:
        - states:CreateStateMachine
        - states:DeleteStateMachine
        - states:DescribeStateMachine
        - states:ListStateMachines
        - states:StartExecution
        - states:StopExecution
      Resource: '*'

functions:
  processDataFunction:
    handler: functions/processData.handler
  sendDataFunction:
    handler: functions/sendData.handler
  stepLambdaFunction:
    handler: functions/hello.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - states:StartExecution
        Resource: '*'

stepFunctions:
  stateMachines:
    myStateMachine:
      type: STANDARD
      definition:
        Comment: "My first step function example!"
        StartAt: ExtractData
        States:
          ExtractData: # state 1
            Type: Task
            Resource: arn:aws:states:::dynamodb:getItem
            Parameters:
              TableName: "ProductTable"
              Key:
                id.$: "$.queryStringParameters.id"
            ResultPath: "$.myDynamodbRecord"
            Next: ProcessData
          ProcessData: # state 2
            Type: Task
            Resource:
              Fn::GetAtt: [processDataFunction, Arn]
            InputPath: "$"
            Next: SendData
          SendData: # state 3
            Type: Task
            Resource:
              Fn::GetAtt: [sendDataFunction, Arn]
            End: true
            